p {
  text-align: center;
  font-size: 30px;
}
body{
	background-image: url("sea.jpg");
	color: white;

  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;


/* <!-- Container element --> */
/* <div class="parallax"></div> */
}
